<!DOCTYPE html>
<html>
  <head>
      <title>CCA</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" type="text/css" href="../../static/homepage/index.css">
  </head>

  <body onload="load()">
    <div id="loader"></div>

      <div id="comingsoon">
      <!--  <i class="fa fa-gear fa-spin"></i> -->
          <img src="../../static/homepage/images/coming soon 1.jpg" alt="Coming Soon ..." />
      </div>

      <script src="../../static/homepage/index.js"></script>

  </body>
</html>
