
<head>
  <title>Members</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'members/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>



  <!-- navigation bar -->
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top my-navbar" >
      <div class="container-fluid">
      <!-- header logo -->
        <div class="navbar-header">
          <!-- collapse in sm -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img id="logo" src="../../static/homepage/images/ccanitdlogo.png" />
          </a>
        </div>

      <!-- navbar iteams left -->
  <!--  <ul class="nav navbar-nav">
        <li><a href="index_making.html">HOME</a></li>
      </ul> -->

      <!-- navbar iteams right -->
      <div class="collapse navbar-collapse" id="myNavbar">

        <p id="heading" class="navbar-text">
         Members of CCA
       </p>


        <ul class="nav navbar-nav navbar-right">
          <li><a href="/members">Members</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Cells</a></li>
          <li><a href="#">Our Fest</a></li>
          <li>



            <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Sign Up</button>

              <!-- Modal -->
                <div id="myModal" class="modal" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Sign Up</h4>
                        </div>
                      <div class="modal-body">

                  <!-- signup form -->
                        <form class="form-horizontal" action="/action_page.php">
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="email" placeholder="Enter email">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Password:</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                          </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>



          </li>
        </ul>
      </div>
    </div>
    </nav>


<script src="members/style.js"></script>

<!-- cca members content -->



<!-- tabs -->
<ul id="tabs" class="nav nav-tabs">
 <li class="active"><a data-toggle="tab" href="#allmembers">All Members</a></li>
 <li><a data-toggle="tab" href="#wdct">WDCT</a></li>
 <li><a data-toggle="tab" href="#core">Core-cell</a></li>
 <li><a data-toggle="tab" href="#robo">Robo-cell</a></li>
  <li><a data-toggle="tab" href="#rnd">RD&I-cell</a></li>
  <li><a data-toggle="tab" href="#ecell">E-cell</a></li>
</ul>

<div class="tab-content">

  <!-- All members tab -->
 <div id="allmembers" class="tab-pane fade in active">

   <div id="members" class="container">
   <div class="row">
     {% for member in all_member %}
     <div id="image" class="col-lg-4 col-sm-6 col-xs-12">
       <img src='{{ member.pics.url }}' class="img-thumbnail" class="img-responsive" alt="{{member.name}}" />
       <div class="overlay">
         <div class="text">
       NAME:{{member.name}}<br>
       CELL:{{member.cell}}
     </div>
   </div>
     </div>
     {% endfor %}
   </div>
   </div>


 </div>

 <!-- WDCT tab -->
 <div id="wdct" class="tab-pane fade">

   <div id="members" class="container">
   <div class="row">
     {% for member in all_member %}
     {% if member.cell == "WDCT" %}
     <div id="image" class="col-lg-4 col-sm-6 col-xs-12">
       <img src='{{ member.pics.url }}' class="img-thumbnail" class="img-responsive" alt="{{member.name}}" />
       <div class="overlay">
         <div class="text">
            NAME:{{member.name}}<br>
            CELL:{{member.cell}}
          </div>
        </div>
     </div>
     {% endif %}
     {% endfor %}
   </div>
   </div>

 </div>



 <!-- Core-cell tab -->
 <div id="core" class="tab-pane fade">

   <div id="members" class="container">
   <div class="row">
     {% for member in all_member %}
     {% if member.cell == "Core" %}
     <div id="image" class="col-lg-4 col-sm-6 col-xs-12">
       <img src='{{ member.pics.url }}' class="img-thumbnail" class="img-responsive" alt="{{member.name}}" />
       <div class="overlay">
         <div class="text">
            NAME:{{member.name}}<br>
            CELL:{{member.cell}}
          </div>
        </div>
      </div>
     {% endif %}
     {% endfor %}
   </div>
   </div>

 </div>




 <!-- Robocell tab -->
 <div id="robo" class="tab-pane fade">

   <div id="members" class="container">
   <div class="row">
     {% for member in all_member %}
     {% if member.cell == "Robocell" %}
     <div id="image" class="col-lg-4 col-sm-6 col-xs-12">
       <img src='{{ member.pics.url }}' class="img-thumbnail" class="img-responsive" alt="{{member.name}}" />
       <div class="overlay">
         <div class="text">
            NAME:{{member.name}}<br>
            CELL:{{member.cell}}
          </div>
        </div>
     </div>
     {% endif %}
     {% endfor %}
   </div>
   </div>

 </div>




 <!-- RD&I-cell tab -->
 <div id="rnd" class="tab-pane fade">

   <div id="members" class="container">
   <div class="row">
     {% for member in all_member %}
     {% if member.cell == "RD&I" %}
     <div id="image" class="col-lg-4 col-sm-6 col-xs-12">
       <img src='{{ member.pics.url }}' class="img-thumbnail" class="img-responsive" alt="{{member.name}}" />
       <div class="overlay">
         <div class="text">
            NAME:{{member.name}}<br>
            CELL:{{member.cell}}
          </div>
        </div>
     </div>
     {% endif %}
     {% endfor %}
   </div>
   </div>

 </div>





 <!-- E-cell tab -->
 <div id="ecell" class="tab-pane fade">

   <div id="members" class="container">
   <div class="row">
     {% for member in all_member %}
     {% if member.cell == "Ecell" %}
     <div id="image" class="col-lg-4 col-sm-6 col-xs-12">
       <img src='{{ member.pics.url }}' class="img-thumbnail" class="img-responsive" alt="{{member.name}}" />
       <div class="overlay">
         <div class="text">
            NAME:{{member.name}}<br>
            CELL:{{member.cell}}
          </div>
        </div>
     </div>
     {% endif %}
     {% endfor %}
   </div>
   </div>

 </div>





</div>





</body>
