#image img{
    width: 300px;
    height: 300px;
}

#image{
  text-align:justify;
  font-size: 20px;
  font-family:serif;
  color: black;
  margin: auto;
  padding: 20px;
}

#members{
  padding: 20px;
}

/*h1{
  background-color: skyblue;
  padding: 20px;
  text-align: center;
} */

#heading{
    font-family: sans-serif;
    color: black;
    text-align: center;
}

#box{
  background-color: skyblue;
}

#logo {
	width: 100px;
	height: auto;
	position: relative;
	z-index:25;
	padding-top:0px;
	padding-left: 0px;
	top:-10px;
}

.navbar{
	font-size: 20px;
	padding: 10px;
}

#tabs{
  margin-top: 80px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#image:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  width: 285px;
  height: 285px;
  margin: auto;
  margin-right: 75px;
}

/** #navbar {
	border: 0;
	border-radius: 0;
	background: rgba(0, 0, 0, 0);
} **/
